body{
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(65, 52, 110));
}
nav{
    z-index: 10000000000;
    background-color: rgba(196, 223, 247, 0.247);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon {
  filter: invert(1); /* Inverts black to white */
}

.navbar-brand{
    color: aliceblue;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: xx-larger;
}
.nav-link{
    color: aliceblue;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yadav-photo{
    color: aliceblue;
}
.yadav-photo img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.yadav-details{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
}
.yadav-details button{
    border-radius: 30%;
    background: linear-gradient(to right, black,rgb(43, 34, 74));
    color: rgb(116, 159, 245);
    border: 2px solid rgb(116, 159, 245);
    transition: all 1s;
    width: 16%;
}
.yes:hover{
    text-shadow: 2px 2px 9px rgb(151, 244, 244);
    text-decoration:underline;
    width: 30dvh;
    border-radius: 10%;
}

.about-me{
    background: linear-gradient(to left,rgba(0, 0, 0, 0.674),rgba(72, 72, 94, 0.568) );
    color: rgb(171, 216, 255);
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-radius: 15px;
    opacity: 1;
    padding: 20px;
    word-spacing: 7px;
    position: relative;
    margin: 20px;
}
.about-me strong{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
}
.yadav-name{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 50%; 
    font-size: 35px;
    transition: all 0.7s;
}
.yadav-name .rest{
    opacity: 0 ;
    transition: all 0.7s;
}
body:hover .rest{
    opacity: 1;
}
.yadav-photo:hover .yadav-name{
    font-size: 50px;
    text-shadow: 2px 2px 10px rgb(156, 212, 225);
}
.yadav-photo .photo{
    background-image: url("yadav profile.jpeg");
    border-radius: 50%;
    position: relative;
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: all 1s;
}
.yadav-photo .photo img{
    opacity: 0;
    margin-left: 13%;
        transition: all 1s;
}
.yadav-photo:hover .photo {
    background-image: url("yadav profile black.jpeg");
        transition: all 1s;
}
.yadav-photo:hover .photo img{
    opacity: 1;
    transform: scale(1.5);
    transition: all 1s;
    filter: drop-shadow(4px 4px 10px rgb(167, 167, 232));

}
 .skills{
    /* margin: 30px;
    margin-left: 42%; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .circle:hover .skills{
    margin-top: 400;
 }
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid skyblue;
    color: aqua;
    margin: 50px;
    transition: all 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    overflow:hidden;
}
.circle:hover{
    width: 500px;
    height: 500px;
}
.skill-name{
    position: absolute;
    opacity: 0;
    font-size: 1.2rem;
    transition: all 1s ease;  
    border: 2px solid lightblue;
    border-radius: 30px;
    padding: 10px;
}
.circle:hover .skill-name{
    opacity: 1;
}
.py { top: 10%;left: 50%;transform: translate(-50%,-50%);}
.ja { top: 25%;left: 80%;transform: translate(-50%,-50%);}
.cpp{ top: 50%;left: 90%;transform: translate(-50%,-50%);}
.cs { top: 75%;left: 80%;transform: translate(-50%,-50%);}
.ht { top: 90%;left: 50%;transform: translate(-50%,-50%);}
.e{ top: 75%; left: 23%; transform: translate(-50%,-50%);}
.c{ top: 50%; left: 10%; transform: translate(-50%,-50%);}
.b{ top: 25%; left: 25%; transform: translate(-50%,-50%);}
.skill-name:hover{
    text-shadow: 2px 2px 2px white;
    box-shadow: 2px 2px 2px white;
}
.main:hover .about-me{
    animation:  slideIn 2s forwards;
}
@keyframes slideIn {
    0%{transform: translateX(-100%); opacity: 0;}
    100%{transform: translateX(0%); opacity: 1;}
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}
.contai-ner{
    perspective: 800px;
}
.proj{
    border: 2px solid lightblue;
    width: 250px;
    height: 350px;
    border-radius: 8px;
    transition: all 0.5s;
    transform-style: preserve-3d;
}
.proj img{
    width: 200px;
    height: 200px;
    margin: 20px;
    cursor: pointer;
}
.proj a:hover{
    /* padding: 15px;
    padding-left: 25%; */
    text-decoration: none;
    color: aquamarine;
    padding-top: 10px;
}
.proj:hover img{
    transition: all 0.5s;
    /* transform: scale(1.2); */
}
.proj a span{
    opacity: 0;
}
.proj:hover .proj a span{
    opacity: 1;
    font-size: 20px;
}
.proj:hover{
    box-shadow: 3px 3px 30px rgba(110, 203, 237, 0.747);
}
.proj:hover{
    transform: rotateX(15deg) scale(0.9);
}
@media screen and (max-width : 557px){
    .yadav-photo:hover .yadav-name{
        font-size: 28px;
    }
}
@media screen and (max-width : 399px){
    .yadav-photo:hover .yadav-name{
        font-size: 22px;
    }
    .yadav-name{
        font-size: 25px;
    }
}
@media screen and (max-width: 550px){
    .circle:hover{
        width: 400px;
        height: 400px;
    }
    .skill-name{
        font-size: 25px;
    }
}

.contact-me{
    background-color: rgba(135, 163, 219, 0.653);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(235, 241, 247);
    border-left: 4px solid rgb(176, 169, 244);
}
.yadav-photos-college img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    transition: all 1s;

}
.yadav-photos-college{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.photo-1{transform: rotate(-12deg);}
.photo-2{transform: rotate(5deg);}
.photo-3{transform: rotate(-6deg);}
.photo-4{transform: rotate(8deg);}
.photo-5{transform: rotate(-4deg);}
.yadav-photos-college img:hover{
    transform: rotate(0deg);
    z-index: 100000;
    transform: scale(1.3);
}
@media screen and (max-width : 675px){
    .yadav-photos-college img{
        width: 150px;
        height: 200px;
    }
}
@media screen and (max-width : 520px){
    .yadav-photos-college img{
        width: 120px;
        height: 170px;
    }
}
html{
    scroll-behavior: smooth;
}
footer{
    color: black;
    background-color: rgba(140, 205, 254, 0.763);
}
.achievements-section{
    padding: 30px;
    background: linear-gradient( to right,rgb(42, 42, 64),rgb(174, 193, 236));
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
    margin: 30px;
}
.achievements-section h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(139, 234, 234);
}
.testimonial{
    font-style: italic;
    font-size: 1.1rem;
    background: linear-gradient(to left, rgba(78, 78, 98, 0.482),rgba(166, 166, 205, 0.482));
    padding: 20px;
    border-radius: 10px;
    border-left: 2px solid rgb(21, 129, 244);
}
.achievement-list ul{
    list-style-type: none;
}
.achievement-list li{
    padding: 10px;
    font-size: 1.1rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.256);
}
.resume{
    color: aliceblue;
    transition: all 1s;
}
.butt sa{
    opacity: 1;
    transition: all 0.3s;
}
.butt .download-emoji{
    opacity: 0;
    transition: all 0.3s;
}
.resume .butt{
    background-color: aliceblue;
    color: darkblue;
    padding: 15px;
    border-radius: 5px;
    transition: all 1s;
    position: relative;
    align-items: center;
    justify-content: center;
}
.butt:hover sa{
    text-decoration: none;
    opacity: 0;
}
.butt:hover .download-emoji{
    opacity: 1;
}
.highlight {
  color: #00ffd5;
  font-weight: 600;
}
c{ 
  font-style: italic;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 255, 0);
  border-radius: 5px;
  margin: 10px;
}
w{ 
  font-style: italic;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 138, 21);
  border-radius: 5px;
  margin: 10px;
}
z{ 
  font-style: italic;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: 10px;
  width: 20px;
}
.pdt{
    /* background-color: rgba(240, 248, 255, 0.386);
    background: linear-gradient(to right, rgba(135, 119, 238, 0.386), rgba(1, 7, 172, 0.386)); */
    background: linear-gradient(to left,rgba(0, 0, 0, 0.674),rgba(72, 72, 94, 0.568) );
    padding: 20px;
    border-radius: 20px;
    width: 60%;
}
@media screen and (max-width : 1200px){
    .pdt{
        width: 90%;
    }
    
}
@media screen and (max-width : 692px){
    .proj{
        width: 120px;
        height: 170px;
    }
    
}
@media screen and (max-width : 360px){
    .proj{
        width: 50px;
        height: 140px;
    }
    
}
@media screen and (max-width : 623px){
    .proj{
    border: 2px solid lightblue;
    width: 150px;
    height: 200px;
    border-radius: 8px;
    transition: all 0.5s;
    }
    .proj img{
        width: 100px;
        height: 100px;
        margin: 20px;
        cursor: pointer;
    }
    .proj:hover img{
    transition: all 0.5s;
    transform: scale(1.35);
    }
    .projects{
        gap: 20px;
    }
    .pdt{
        width: 90%;
    }
    .proj{
        font-size: 12px;
    }
}
